body{
    background: #e7e7e7;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #666;
}
#home{
    background: url("images/Background.svg");
    height: 750px;
    align-items: center;
    text-align: center;
    margin-top: -20px;
}
#about{
    align-items: center;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
}
#projects{
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
#contact{
    background: url("images/Background.svg");
    height: 760px;
    align-items: center;
}
.navbar{
    position: static;
}
.profile{
    display: flex;
    float: left;
    padding-top: 5px;
    justify-content: center;
    color: white;
}
.profile img{
    width: 60px;
    height: 60px;
    margin-right: 5px;
}
.dropmenu li{
    list-style-type: none;
}
.bignav{
    float: right;
    margin-top: 5px;
}
.bignav li a{
    padding: 20px;
}
.navbar-inverse{
    padding-bottom: 5px;
}
.navbar-header button{
    margin-top: 15px;
}
#home div{
    padding-top: 35vh;
}
.about{
    padding-top: 30px;
}
.about_section{
    padding-top: 50px;
}
.about_section p,
.about_section .skill_section{
    padding-top: 15px;
}
.about_section p{
    line-height: 26px;
}
.projects{
    padding-top: 80px;
}
.pro{
    padding-top: 50px;
    align-items: center;
    text-align: center;
}
.pro img{
    width: 100%;
}
.pro_align{
    text-align: center;
    align-items: center;
    margin: auto;
}
.contact{
    padding-top: 80px;
    text-align: center;
}
#contact form{
    padding: 20px 0;
}
.contact form{
    width: 80vw;
    text-align: left;
}
.contact .social{
    text-align: center;
    align-items: center;
    color: #666;
    margin-top: 50px;
}
.social a{
    text-decoration: none;
    padding: 15px;
    color: #666;
    font-size: 35px;
}
#footer{
    background: #000;
    height: 80px;
    color: white;
}
.footer{
    border-top: white;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}
.footer p{
    color: white;
}
